<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>비밀번호 변경</h1>
<form method="post" action="/user/password/update">
    <input type="hidden" name="userId" th:value="${userId}">
    기존의 비밀번호를 입력해주세요
    <input type="text" name="oldPassword" required><br>
    새로운 비밀번호를 입력해주세요
    <input type="text" name="newPassword" required><br>
    <button>입력 완료</button>
    <p th:if="${message != null}" th:text="${message}" style="color: red"></p>
</form>
</body>
</html>